.tasks{  
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-top: 5.625rem;     
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header > div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: bold;
}

.textPurple{
  color: var(--purple) !important;
  font-size: 0.875rem;
  font-weight: bold;
}

.header span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: .188rem .563rem;
  border-radius: 999px;
  font-size: .75rem;
  font-weight: 700;
}

.listTasks{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.hasNoTasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-300);
  font-size: 1rem;
  line-height: 1.6;
  border-top: 2px solid var(--gray-400);
  border-radius: 8px;  
  padding: 4rem 0;
}

.hasNoTasks p {
  font-weight: bold;
}

.hasNoTasks img{
  margin-bottom: 1rem;
}

@media(max-width: 768px){
  .tasks{      
    padding: 0;
  }
}